* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9; 
  color: #333; 
}

.dashboard-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.dashboard-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f2c4d; 
}

.error {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.profile-card {
  flex: 1 1 calc(100% - 20px); 
  background: rgb(2, 2, 48); 
  color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
}

.profile-card:hover {
  transform: translateY(-5px); }

.profile-card strong {
  display: block; 
  margin-bottom: 10px;
}
.profile-card p{
  padding-top: 1.5rem;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  resize: none; 
}

button {
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: crimson ; 
  color: rgb(10, 10, 58);
  font-size: large;
  font: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: max-content !important; 
}

button:hover {
  background-color: #ca7d29; 
}

@media (max-width: 600px) {
  .profile-card {
    flex: 1 1 100%; 
  }
}
